/* Style adjustments for websites */
.pageBody {
    /* padding: 0px 20px 0px 0px; */
}

.topicContent {
    margin-left: 280px;
}

/* Lightweight TOC */
.tocCollapsed {
    background: url('../icons/TocCollapsed.gif') no-repeat scroll center;
    width: 17px;
    height: 20px;
    overflow: hidden;
}

.tocExpanded {
    background: url('../icons/TocExpanded.gif') no-repeat scroll center;
    width: 17px;
    height: 20px;
    overflow: hidden;
}

.tocResize {
    display: none;
}

.tocResize img {
    border: none;
    cursor: pointer;
}

div#leftNav {
    float: left;
    /* margin: 0px -1px 0 0; */
    width: 280px;
    min-height: 10px;
    position: relative;
    border-right: 1px solid #e8e8e8;
    /* padding-left: 10px; */
    padding-top: 15px;
}

div#tocNav {
    overflow-x: hidden;
    line-height: normal;
    margin: -10px 0 0 0;
}

div#tocNav>div {
    overflow-x: hidden;
    white-space: normal;
    width: auto;
    margin-bottom: 5px;
}

div#leftNav a,
div#leftNav a:link,
div#leftNav a:visited {
    color: #1364c4;
    text-decoration: none;
}

div#leftNav a:hover {
    color: #3390b1;
    border-left: 1px #111 solid;
    background: transparent;
}

div#tocNav>div>a,
div#tocNav>div>a:link,
div#tocNav>div>a:visited {
    display: block;
    color: #999;
    font-weight: 400;
    font-size: 0.9em;
    overflow: hidden;
    text-decoration: none;
    padding: 2px 20px 2px 18px;
}

div#tocNav>div.current>a,
div#tocNav>div.current>a:link,
div#tocNav>div.current>a:visited {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

div#tocNav>div>a.tocExpanded,
div#tocNav>div>a.tocCollapsed {
    display: none;
}

div#tocResizableEW {
    cursor: e-resize;
    width: 15px;
    top: 0;
    height: 100%;
    position: absolute;
    display: block;
    font-size: 0.5px;
    right: -7px;
}

.toclevel0:first-child {
    margin-top: 16px;
}

div#tocNav>div {
    font-size: 0.9rem;
}

div#tocNav>div.toclevel1 {
    padding-left: 10px;
}

div#tocNav>div.toclevel2 {
    padding-left: 20px;
}

div#tocNav>div.toclevel3 {
    padding-left: 30px;
}

div#tocNav>div.toclevel4 {
    padding-left: 40px;
}

div#tocNav>div.toclevel5 {
    padding-left: 50px;
}

div#tocNav>div.toclevel6 {
    padding-left: 60px;
}

div#tocNav>div.toclevel7 {
    padding-left: 70px;
}

div#tocNav>div.toclevel8 {
    padding-left: 90px;
}

div#tocNav>div.toclevel9 {
    padding-left: 90px;
}

div#tocNav>div.toclevel10 {
    padding-left: 100px;
}

/* Search form */
form#SearchForm {
    float: right;
    background-color: white;
    border: 1px solid #d0d0d0;
    margin-top: 15px;
    width: 280px;
    height: 32px;
}

form#SearchForm input {
    border: 0;
    height: 90%;
    width: 90%;
    color: #424242;
    display: inline-block;
    margin: 1px 0 0 0;
    padding: 1px 4px 1px 10px;
}

form#SearchForm button {
    background: url('../icons/Search.png') no-repeat scroll center;
    background-size: 16px 16px;
    float: right;
    border: 0;
    margin: 7px 7px 0 0;
    cursor: pointer;
    width: 19px;
    height: 18px;
    overflow: hidden;
}

.searchContainer {
    width: 700px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
