/* fix anchor click offset from top */
/* https://www.itsupportguides.com/knowledge-base/tech-tips-tricks/how-to-offset-anchor-tag-link-using-css/ */
:target:before {
    content: "";
    display: block;
    height: 90px;      /* fixed header height*/
    margin: -90px 0 0; /* negative fixed header height */
}

body {
    line-height: 1.5;
    position: relative;
    overflow: scroll;
}

.site-title {
    margin-left: 10px;
    line-height: 60px;
}

.site-logo {
    font-size: 26px;
    line-height: 60px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
}

.site-header {
    z-index: 1024;
    top: 0;
    position: sticky;
    min-height: 70px;
    background: white;
}

.site-nav {
    line-height: 60px;
}

.page-link {
    display: inline;
    padding: 0;
    margin: 0;
    border: none;
}

.page-link:hover {
    background: none;
    border: none;
}

.page-link:focus {
    box-shadow: none;
}

.dropdown:not(:first-child) {
    margin: 0;
}

.version-link {
    display: block;
    color: #111;
    padding: 4px 28px 4px 20px;
    margin: 0;
    text-align: left;
    font-size: small;
    line-height: 1.5;
}

.version-link:visited {
    color: #111;
}

.version-link:not([href]) {
    color: #999;
}

.page-content {
    min-height: 25em;
}

.sidebar {
    width: 15%;
    position: fixed;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.sidebar ul li, .nav li {
    display: block;
}

.sidebar ul li a, .nav li a {
    color: #999;
    text-decoration: none;
    border-left: 1px solid transparent;
    font-size: 13px;
    font-weight: 400;
    padding: 4px 20px 4px 18px;
    display: block;
}

.sidebar ul li a:hover, .nav ul li a:hover {
    color: #111;
    border-left: 1px #111 solid;
    background: transparent;
}

.site-nav svg {
    margin-top: -4px;
}

.nav {
    margin: 0;
    padding: 0;
    display: block;
}

.nav a.active {
    font-weight: bold;
    color: #111;
}

.side-content {
    width: 75%;
    margin-left: 25%;
}

.site-footer {
    padding: 0px;
}

.footer {
    text-align: center;
    font-size: small;
    color: #828282;
    margin-bottom: 20px;
}

.footer a {
    color:#828282;
}

.footer a:visited {
    color:#828282;
}

.footer-langauges {
    border-bottom: 1px solid #e8e8e8;
    padding: 5px 0px 5px 0px;
    margin-bottom: 10px;
}

.footer-language-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-language-list li {
    display: inline;
}

.footer-language-list li:not(:first-child) {
    margin-left: 10px;
}

.editgithub_link {
    margin-top: 5px;
}