/* fix anchor click offset from top */
/* https://www.itsupportguides.com/knowledge-base/tech-tips-tricks/how-to-offset-anchor-tag-link-using-css/ */
:target:before {
    content: "";
    display: block;
    height: 90px;
    /* fixed header height*/
    margin: -90px 0 0;
    /* negative fixed header height */
}

/*
    html element adjustments ==================================================
*/
body {
    line-height: 1.5;
    position: relative;
    /*
        always show the vertical scrollbar otherwise page width changes
        from page to page and is annoying
     */
    overflow: scroll;
}

a.site-title,
a.page-link,
a.extern-link,
a.dropdown-toggle a.site-title:hover,
a.page-link:hover,
a.dropdown-toggle:hover {
    color: #111;
    text-decoration: none;
    cursor: pointer;
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: none;
}

pre {
    padding: 0px;
}

/*
    containers ================================================================
*/

.container {
    max-width: 1170px;
}

.container-full {
    width: 100%;
}

.block-center {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
}

/*
    site home =================================================================
*/

.home-cover {
    position: relative;
    height: 70vh;
    min-height: 300px;
}

.home-gallery {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.home-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: opacity(0.8);
}

.home-gallery iframe {
    width: 100%;
    height: 100%;
}

.home-contents-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 36px;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    -webkit-box-align: center;
}

.home-contents-textmask {
    width: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(232, 232, 232, 1) 90%);
}

.home-contents {
    display: block;
    max-width: 1170px;
    padding: 0 30px 0 30px;
    margin: 90px auto 30px auto;
    color: white;
}

.home-contents h1 {
    margin-top: 20px;
    color: #111;
}

.home-contents h3 {
    color: #111;
    font-size: 20px;
    font-weight: normal;
}

.home-dependencies {
    margin: 30px auto 30px auto;
    text-align: center;
}

.home-features {
    background-color: #e8e8e8;
}

.home-feature {
    padding: 30px;
    color: white;
}

.home-feature-rhino {
    background-size: cover;
    background-position: center;
    background-image: url(../../static/images/home/home_feature_rhino.png);
}

.home-feature-gh {
    background-size: cover;
    background-position: center;
    background-image: url(../../static/images/home/home_feature_gh.png);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.home-feature-ghcomps {
    background-size: cover;
    background-position: center;
    color: #111;
}

.home-feature-bim360 {
    background-size: cover;
    background-position: center;
    color: #111;
}

.home-feature-api {
    background-size: cover;
    background-position: center;
    color: #111;
}

.home-feature-grid-item {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: #111;
    background-color: white;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.home-feature-grid-img-item {
    padding: 0;
    overflow: hidden;
}

.home-feature-grid-img-item img {
    width: 100%;
    height: 100%;
}

.home-feature-rhino-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    margin: 20px 0px;
}

.home-feature-gh-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 20px;
}

.home-feature-ghcomps-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.home-feature h2 {
    font-size: 45px;
}

.home-feature h3 {
    font-size: 36px;
}

.home-feature p {
    font-size: 18px;
}

.home-feature a,
.home-feature a:visited {
    color: white;
    text-decoration: none;
}

.home-feature small {
    font-size: 28px;
    padding-left: 20px;
}

.home-feature-ghcomps-grid a,
.home-feature-ghcomps-grid a:visited {
    color: #111;
}

.home-feature-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    column-gap: 40px;
}

.home-feature-content a:hover {
    text-decoration: underline;
}

.home-feature-content-center-label {
    text-align: center;
    margin-top: 30px
}

.home-feature-content-center-label a,
.home-feature-content-center-label a:visited {
    color: #111;
}

.home-feature-content-center-label a:hover {
    text-decoration: underline;
}

.home-discover {
    margin-bottom: 30px;
    box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.1);
}

.home-discover h2 {
    text-align: center;
    padding: 20px 0 20px 0;
    font-size: 40px;
}

.home-discover a,
.home-discover a:visited {
    color: #111;
}


/*
    site content ==============================================================
*/

.row-fluid {
    display: flex;
    width: fit-content;
    justify-content: space-between;
}

/*
    navigation bar ============================================================
*/
.site-header {
    z-index: 1024;
    top: 0;
    position: sticky;
    border-top: unset;
}

.site-header-block {
    height: 64px;
    background: white;
}

.site-header-topbar {
    height: 5px;
    background-color: #424242;
}

.site-header-messagebar {
    display: block;
    min-height: 5px;
    width: 100%;
    color: white;
    font-style: italic;
    padding: 5px;
    text-align: center;
    /* background: repeating-linear-gradient(-55deg, #222, #222 10px, #333 10px, #333 20px); */
    background-color: orange;
}

.site-header-messagebar:hover,
.site-header-messagebar:visited {
    color: white;
    text-decoration: none;
}

.site-header-messagebar:hover {
    background-color: #eb8d01;
}

/* logo */
.site-logo {
    float: left;
    width: 40px;
    height: 40px;
    margin-top: 11px;
}

/* title text */
.site-title {
    margin-left: 10px;
    line-height: 60px;
}

/* navigation bar with pages */
/* github logo on navigation bar */
.site-nav img {
    margin-top: -4px;
}

.site-nav .img-button-title {
    display: none;
}

.site-nav .page-link:nth-last-child(-n + 2) {
    margin-left: 10px;
}

.site-nav .extern-link {
    margin-left: 10px;
}

.site-nav .page-link:hover {
    border-bottom: 3px solid #e8e8e8;
}

.site-nav .page-link.active {
    font-weight: unset;
    border-bottom: 3px solid #111;
}

/* page links on navigation bar */
.page-link {
    display: inline;
    padding: 0;
    margin: 0;
    border: none;
    padding-bottom: 22px;
}

.page-link:hover {
    background: none;
    border: none;
}

.page-link:focus {
    box-shadow: none;
}

.page-link.active {
    font-weight: 600;
}

/* version selector on navigation bar */
.dropdown:not(:first-child) {
    margin: 0;
}

.version-link {
    display: block;
    color: #111;
    padding: 4px 28px 4px 20px;
    margin: 0;
    text-align: left;
    font-size: 13px;
    line-height: 1.5;
}

.version-link:hover {
    background-color: #f8f9fa;
}

.version-link:visited {
    color: #111;
}

.version-link:not([href]) {
    color: #999;
}

.menu-icon {
    display: none;
}


.oldversionwarning {
    display: inline-block;
    background-color: red;
    width: 50px;
    height: 20px;
}

/*
    page contents =============================================================
*/
/* base */
.page-content {
    /*
    set the minimum height to the footer does not get
    too close to header or sidebar when page is empty
    */
    min-height: 50em;
}

.page-content a,
.page-content a:hover {
    text-decoration: none;
}

/* full-screen page contents */
.wide-content {
    display: block;
    width: 100%;
}

.wide-content img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* page with sidebar contents */
.side-content {
    margin-left: 20px;
    width: 800px;
    margin-top: 20px;
}

.side-content h1 {
    margin-bottom: 20px;
}

.side-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast; */
}

.page-gh-download {
    display: inline;
    float: right;
    margin-top: -56px;
}

/* post article contents */
.post-content {
    margin-top: 20px;
}

.post-content h2 {
    border-bottom: 1px dashed #d0d0d0;
    padding-bottom: 10px;
}

.post-content h3 {
    margin-bottom: 10px;
}

/* side bar */
.sidebar {
    position: sticky;
    top: 90px;
    height: 100%;
    min-width: 240px;
    max-width: 240px;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 8em);
}

.sidebar li,
.nav li {
    display: block;
}

.sidebar a,
.nav a {
    color: #999;
    text-decoration: none;
    border-left: 1px solid transparent;
    font-size: 13px;
    font-weight: 400;
    padding: 4px 20px 4px 18px;
    display: block;
    width: 215px;
}

.sidebar a:hover,
.nav a:hover {
    color: #111;
    border-left: 1px #111 solid;
    background: transparent;
}

/* side bar groups */
.sidebar .nav-category {
    color: #828282;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    background: #f6f6f6;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

/* side bar second level depth links */
.sidebar .nav .nav-item .nav a,
.sidebar nav a {
    margin-left: 20px;
    font-size: 11px;
}

/* side bar navigation */
.nav {
    margin: 0;
    padding: 0;
    display: block;
}

.nav a.active {
    font-weight: bold;
    color: #111;
}

.error404 {
    text-align: center;
}

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #e8e8e8 #f9f9f9;
}

.scrollbar::-webkit-scrollbar {
    width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: #f9f9f9;
    border-radius: 3px;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #e8e8e8;
}

/*
    gallery ===================================================================
*/

.gallery-small-grid {
    display: grid;
    grid-gap: 15px 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    align-items: start;
    grid-auto-rows: 160px;
}

.gallery-large-grid {
    display: grid;
    grid-gap: 15px 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* grid-template-columns: auto auto auto auto; */
    align-items: start;
    grid-auto-rows: 200px;
}

.gallery-item {
    display: block;
    min-height: 200px;
    background-color: #fff;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    color: white;
    /* -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 3px 2px rgba(0, 0, 0, .15);
    box-shadow: 0 3px 2px rgba(0, 0, 0, .15); */
    overflow: hidden;
}

.gallery-item-small {
    min-height: 160px;
}

.gallery-item-focused {
    background-color: white;
    border: 1px solid #111;
    -webkit-box-shadow: 0 6px 0 #111, 0 12px 8px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 6px 0 #111, 0 12px 8px rgba(0, 0, 0, .25);
    box-shadow: 0 6px 0 #111, 0 12px 8px rgba(0, 0, 0, .25);
    z-index: 1000;
}

.gallery-thumbnail {
    height: 135px;
    overflow: hidden;
}

.gallery-thumbnail-compact {
    height: 115px;
}

.gallery-thumbnail-small {
    height: 85px;
}

.gallery-thumbnail-dim {
    -webkit-filter: saturate(0.7);
    filter: saturate(0.7);
}

.gallery-info {
    /* border-top: 1px solid #d0d0d0; */
    padding: 5px 10px 5px 10px;
}

.gallery-info img {
    width: 30px;
    margin-left: -3px;
}

.gallery-info-title,
.gallery-info-title:visited,
.gallery-info-title:hover {
    display: block;
    color: #111;
    font-size: 1em;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.gallery-info-subtitle {
    color: #828282;
    font-size: 13px;
    margin-bottom: 0;
}

.gallery-info-author,
.gallery-info-author:visited,
.gallery-info-author:hover {
    display: block;
    color: #111;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gallery-item.gallery-item-focused .gallery-info-title,
.gallery-item.gallery-item-focused .gallery-info-author {
    white-space: unset;
    overflow: unset;
    text-overflow: unset;
}

.gallery-info-extra {
    display: none;
    margin-top: 5px;
}

.gallery-info-extra p {
    color: #828282;
    font-size: 13px;
    margin-bottom: 0;
}

.gallery-info-tags {
    display: block;
    margin: 0;
    padding: 0;
}

.gallery-info-tags li {
    display: inline-block;
    border: 1px solid #d0d0d0;
    border-radius: 2px;
    /* background-color: white; */
    color: #828282;
    text-align: center;
    font-size: 11px;
    padding: 0 5px 0px 5px;
}

/*
    discover gallery ==========================================================
*/

.discover-grid {
    display: grid;
    grid-gap: 30px 30px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    /* grid-template-columns: auto auto auto auto; */
    align-items: start;
    grid-auto-rows: 250px;
}

.discover-grid-compact {
    grid-auto-rows: 230px;
}

.discover-item {
    display: block;
    min-height: 250px;
    background-color: #fff;
    border: 1px solid #b0b0b0;
    border-radius: 5px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px 0px, rgba(0, 0, 0, 0.025) 0px 15px 20px -1px;
    overflow: hidden;
    position: relative;
}

.discover-item-compact {
    min-height: 230px;
}

/* different naming format otherwise vue.js breaks */
.discoverItemHighlight {
    box-shadow: 0 4px 0 #a0a0a0, 0 10px 8px rgba(0, 0, 0, .1);

}

.discover-item-focused {
    background-color: white;
    border: 1px solid #111;
    -webkit-box-shadow: 0 6px 0 #111, 0 12px 8px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 6px 0 #111, 0 12px 8px rgba(0, 0, 0, .25);
    box-shadow: 0 6px 0 #111, 0 12px 8px rgba(0, 0, 0, .25);
    z-index: 1000;
}

.discover-highlight {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.discover-thumbnail {
    height: 165px;
    overflow: hidden;
}

.discover-thumbnail-dim {
    -webkit-filter: saturate(0.7);
    filter: saturate(0.7);
}

.discover-info {
    padding: 5px 10px 5px 10px;
}

.discover-info-new {
    display: none;
    float: left;
    color: white;
    background: #dc3545;
    border-radius: 3px;
    margin-top: 3px;
    margin-right: 5px;
    text-align: center;
    font-size: 12px;
    padding: 0 5px 0px 5px;
}

.discover-info-new-ok {
    display: none;
    padding: 0 5px 0 5px;
    border-radius: 0 3px 3px 0;
}

.discover-info-new-ok:hover {
    background: #a70010;
    cursor: pointer;
}

.discover-info-new-ok img {
    width: 13px;
    padding-bottom: 2px;
    margin: 0px;
}

.discover-info-title,
.discover-info-title:visited,
.discover-info-title:hover {
    display: block;
    color: #111;
    font-size: 1em;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    max-width: 300px;
}

.discover-info-author,
.discover-info-author:visited,
.discover-info-author:hover {
    display: block;
    color: #111;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.discover-item.discover-item-focused .discover-info-title,
.discover-item.discover-item-focused .discover-info-author {
    white-space: unset;
    overflow: unset;
    text-overflow: unset;
}

.discover-info-extra {
    display: none;
    margin-top: 5px;
}

.discover-info-extra-open {
    display: block;
}

.discover-info-extra p {
    color: #828282;
    font-size: 13px;
    margin-bottom: 0;
}

.discover-info-tags {
    display: block;
    margin: 0;
    padding: 0;
}

.discover-info-tags li {
    display: inline-block;
    border: 1px solid #d0d0d0;
    border-radius: 2px;
    margin-right: 5px;
    color: #828282;
    text-align: center;
    font-size: 12px;
    padding: 0 5px 0px 5px;
}

.discover-info-tags li:hover {
    cursor: pointer;
    border: 1px solid #111;
}

.discover-filters-box {
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin: 0 0 30px 0;
    padding: 0;
}

.discover-filters {
    display: block;
}

.discover-filter {
    display: inline-block;
    height: 26px;
    border-radius: 3px;
    text-align: center;
    font-size: 13px;
    margin: 10px 5px;
}

.discover-filter-featured-icon {
    width: 16px;
    margin-left: 6px;
    margin-top: -2px;
}

.discover-filter-new-icon {
    width: 16px;
}

.discoverFilterGray {
    color: #828282;
    border: 1px solid #d0d0d0;
}

.discoverFilterRed {
    color: #dc3545;
    border: 1px solid #dc3545;
}

.discoverFilterGray:hover {
    color: white;
    border: 1px solid #111;
    background-color: #111;
    cursor: pointer;
}

.discoverFilterRed:hover {
    color: white;
    border: 1px solid #dc3545;
    background-color: #dc3545;
    cursor: pointer;
}

.discoverFilterGray.active-filter {
    color: white;
    border: 1px solid #111;
    background-color: #111;
}

.discoverFilterRed.active-filter {
    color: white;
    border: 1px solid #dc3545;
    background-color: #dc3545;
}

.discover-unmarkall {
    display: inline-block;
    height: 24px;
    color: white;
    background: #dc3545;
    font-size: 13px;
    border-radius: 0 2px 2px 0;
    padding: 2px 5px;
}

.discover-unmarkall:hover {
    background: #a70010;
    cursor: pointer;
}

.discover-search {
    float: right;
    height: 26px;
    margin: 10px 10px;
    padding: 2px 5px;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    background: white;
    font-size: 13px;
}

.discover-feature-badge {
    display: block;
    border-top: 2px solid #b0b0b0;
    position: absolute;
    top: 165px;
    right: 8px;
}

.discover-feature-badge img {
    width: 22px;
    margin: 0;
}

/*
    linkcard ==================================================================
*/

.linkcard {
    display: block;
    height: 115px;
    background-color: #fff;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    color: white;
    /* -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 3px 2px rgba(0, 0, 0, .15);
    box-shadow: 0 3px 2px rgba(0, 0, 0, .15); */
    overflow: hidden;
}

.linkcard-image {
    width: 230px;
    vertical-align: top;
}

.linkcard-info {
    padding: 10px;
    vertical-align: top;
    color: #111;
}

.linkcard-info p {
    margin-bottom: 20px;
}

.linkcard-info p,
::after,
::before {
    box-sizing: unset;
}

/*
    linkcard ==================================================================
*/

.profilecard {
    display: block;
    background-color: #fff;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    color: white;
    overflow: hidden;
}

.profilecard-image {
    padding: 20px;
    width: 230px;
    vertical-align: top;
}

.profilecard h3 {
    margin-top: 10px;
}

.profilecard-info {
    padding: 10px;
    vertical-align: top;
    color: #111;
}

.profilecard-info p {
    margin-bottom: 20px;
}

.profilecard-info p,
::after,
::before {
    box-sizing: unset;
}

/*
    footer ====================================================================
*/
.site-footer {
    padding: 0px;
}

.footer {
    text-align: center;
    font-size: 13px;
    color: #828282;
    margin-bottom: 20px;
}

.footer a {
    color: #828282;
}

.footer a:visited {
    color: #828282;
}

/* list of languages on footer */
.footer-language-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-language-list li {
    display: inline;
}

.footer-language-list li:not(:first-child) {
    margin-left: 10px;
}

/* language on footer */
.footer-languages {
    border-bottom: 1px solid #e8e8e8;
    padding: 5px 0px 5px 0px;
    margin-bottom: 10px;
}

/* Edit On Github link on footer */
.editgithub_link {
    margin-top: 5px;
}

/*
    kramdown elements  ========================================================
*/

.scale-half {
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    outline: 1px solid transparent;
}

.small-image {
    width: 50%;
}

/*
    content elements  =========================================================
*/
.highlighter-rouge {
    color: unset;
    background-color: #f6f6f6;
}

.error404 img {
    width: 400px;
    margin-top: 100px;
}

.error404 p {
    text-align: center;
}

.btn {
    display: inline;
    padding: 10px 15px 10px 15px;
}

a.btn-danger {
    color: white;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #880000, 0 4px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #880000, 0 4px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #880000, 0 4px 2px rgba(0, 0, 0, .5);
}

a.btn-danger:hover {
    color: white;
}

.btn-warning {
    background-color: orange;
    border-color: orange;
}

a.btn-warning {
    color: white;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #b86902, 0 4px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #b86902, 0 4px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #b86902, 0 4px 2px rgba(0, 0, 0, .5);
}

a.btn-warning:hover {
    color: white;
}

.comp-table {
    width: 100%;
}

.comp-table tr {
    border-top: 1px solid #e8e8e8;
}

.comp-table tr:first-child,
.comp-table tr.comp-docs-row {
    border-top: none;
}

.comp-table td.comp-docs-col {
    padding-left: 36px;
    padding-bottom: 10px;
}

.comp-table td {
    vertical-align: top;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
}

.comp-table td.comp-icon {
    width: 36px;
}

.comp-table td.comp-icon img {
    width: 24px;
}

.comp-table td.comp-title {
    padding-right: 10px;
    font-style: italic;
}

.social {
    margin-bottom: 5px;
}

.social a {
    text-decoration: none;
}

.icontag {
    display: block;
    background: linear-gradient(white, #e8e8e8);
    ;
    border: 1px solid #828282;
    border-radius: 5px;
    width: 24px;
    height: 24px;
    padding-top: 2px;
    font-size: 1rem;
    line-height: 1;
    font-weight: bold;
    text-align: center;
}

.icontag_circle {
    display: inline-block;
    color: white;
    background-color: black;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding-top: 2px;
    font-size: 1rem;
    line-height: 1;
    font-weight: bold;
    text-align: center;
}

.msg-block {
    width: 100%;
    background-color: #f6f6f6;
    border: none;
    border-radius: 5px;
    margin: 30px 0 30px 0;
}

.msg-icon {
    width: 62px;
    padding: 15px;
    vertical-align: top;
}

.msg-msg {
    padding: 15px 15px 15px 5px;
    color: #4e4e4e;
}

.msg-img {
    margin-bottom: 20px;
}

.msg-msg p {
    margin-bottom: 0px;
}

.issue-block {
    background-color: gold;
    border: none;
}

h2.build-stablerelease {
    text-align: left;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 10px;
}

h3.build-prerelease {
    text-align: right;
    border-bottom: 1px dashed #d0d0d0;
    padding-bottom: 10px;
}

small.build-time {
    text-align: right;
    display: block;
    color: #999;
    margin-top: -5px;
    margin-right: 20px;
}

.releasennotes-card-details {
    margin-top: 20px;
}

.releasennotes-card-msg {
    padding: 0px 25px 20px 25px;
    color: #4e4e4e;
}

.releasennotes-card-title {
    font-size: 16px;
}

.video-player {
    margin-bottom: 20px;
}

img.button-icon {
    display: inline;
    width: 24px;
    height: 24px;
    margin-top: -4px;
    margin-left: -4px;
}

.caption {
    display: block;
    color: #828282;
    font-size: 12px;
    margin-top: 15px;
}

.kbshortcut {
    display: inline;
    list-style-type: none;
    margin: 0 0 5px 0;
    padding: 0;
}

.kbkey {
    display: inline-block;
    margin: 0px;
    margin-bottom: 3px;
    padding: 3px 10px 4px 10px;
    color: #fff;
    background: linear-gradient(225deg, #2f2f2f, #828282);
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    line-height: 1.3;
    text-align: center;
    vertical-align: middle;
    box-shadow: 2px 2px 0 rgba(30, 30, 30, 0.2), 0 0 0 2px #575757 inset;
}

.kbshortcut li:not(:first-child) {
    margin-left: 22px;
}

.kbshortcut li:not(:first-child)::before {
    content: "+";
    display: inline-block;
    color: #4b4e51;
    background: none;
    margin-left: -30px;
    padding-right: 15px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
}

.kbclick {
    content: "+";
    display: inline-block;
    background: none;
    margin-left: -30px;
    padding-right: 15px;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1;
}

.kbnote,
.kbnote p {
    display: inline-block;
    height: 26px;
    vertical-align: text-top;
    margin: 0;
}

.kbnote-heavy {
    font-weight: 600;
    color: #4b4e51;
}

/* inline component tags */

.comp-doc {
    display: inline;
}

.comp-tag {
    display: inline;
}

.comp-tag-added {
    display: inline-block;
    background-color: #e8e8e8;
    font-size: 12px;
    border-radius: 3px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.comp-tag-removed {
    display: inline-block;
    background-color: #ffbb00;
    font-size: 12px;
    border-radius: 3px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.comp-tag-desc {
    font-size: 0.9em;
}

.comp-item-tag img,
.comp-tag img {
    display: inline-block;
    margin-top: -4px;
    margin-right: 2px;
    vertical-align: middle;
}

.comp-item-tag strong,
.comp-tag strong {
    font-weight: bold;
    font-size: .9em;
    white-space: nowrap;
}