@media only screen and (max-width: 1000px) {
    .container {
        max-width: 800px;
    }

    .home-cover {
        height: 60vh;
        min-height: 100px;
    }

    .home-dependencies {
        font-size: 70%;
    }

    .home-feature {
        height: unset;
    }

    .home-feature h2 {
        font-size: 40px;
    }

    .home-feature small {
        display: block;
        font-size: 24px;
        padding-left: unset;
    }

    .home-feature-content {
        grid-template-columns: 1fr;
    }

    .home-feature-rhino,
    .home-feature-gh,
    .home-feature-api {
        background-position: -300px;
    }

    .home-discover h2 {
        font-size: 36px;
    }

    .row-fluid {
        display: block;
        justify-content: none;
    }

    .site-nav .img-button-title {
        display: inline-block;
    }

    .site-nav .page-link:hover {
        border-bottom: unset;
        border-right: 4px solid #e8e8e8;
    }

    .site-nav .page-link.active {
        font-weight: unset;
        border-bottom: unset;
        border-right: 4px solid #111;
    }

    .side-content {
        width: 100%;
        margin-left: 0;
    }

    .side-content h1 {
        font-size: 30px;
        margin-top: 20px;
    }

    .page-gh-download {
        display: block;
        float: unset;
        margin-top: -18px;
    }

    .sidebar {
        display: inline;
        position: inherit;
    }

    .sidebar li {
        display: inline-flex;
    }

    .sidebar #sidebar-toc {
        display: none;
    }

    .sidebar a,
    .nav a {
        display: block;
        color: #999;
        text-decoration: none;
        border-left: 1px solid transparent;
        font-size: 13px;
        font-weight: 400;
        padding: 5px 10px 5px 10px;
        margin-right: 3px;
        background: #f7f7f7;
        border-radius: .25em;
        margin-bottom: 6px;
        width: unset;
    }

    .sidebar a:hover,
    .nav a:hover {
        color: #111;
        border-left: 1px solid transparent;
        background: #f7f7f7;
    }

    .btn {
        display: inline-block;
    }

    .rhino-dl {
        margin-left: 0;
    }

    a.btn-danger {
        margin-top: 10px;
        width: 100%;
    }

    pre code {
        font-size: 12px;
    }

    h1 {
        font-size: 30px;
    }

    .caption {
        margin-top: 5px;
    }

    .gallery-large-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .discover-filters {
        text-align: center;
        margin: 5px;
    }

    .discover-filter {
        margin-bottom: 0px;
    }

    .discover-search {
        float: unset;
        width: -webkit-fill-available;
        height: 30px;
        font-size: 14px;
    }

    .discover-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: unset;
    }

    .discover-info-extra {
        display: block;
    }
}