<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ProductName='Rhino.Inside® for Autodesk Revit' ?>

  <Product Id="*"
           UpgradeCode="634a05f2-4511-445a-89c1-7305d83d34c7"
           Manufacturer="Robert McNeel &amp; Associates"
           Name="$(var.ProductName)"
           Version="$(var.ProductVersion)"
           Language="1033">
    <Package Manufacturer="Robert McNeel &amp; Associates"
             Description="$(var.ProductName)"
             Keywords="Installer;Rhino;Inside;Revit"
             Comments="$(var.ProductVersion)"
             InstallerVersion="301"
             Platform="$(var.Platform)"
             InstallScope="perMachine"
             InstallPrivileges="elevated"
             Compressed="yes"/>

    <Icon Id="RhinoInside.ico" SourceFile="RhinoInside.ico"/>
    <Property Id="ARPPRODUCTICON" Value="RhinoInside.ico" />
    <Property Id="ARPURLINFOABOUT" Value="https://www.rhino3d.com/inside/revit/"/>
    <Property Id="ARPURLUPDATEINFO" Value="https://github.com/mcneel/rhino.inside-revit.git"/>
    <Property Id="ARPHELPLINK" Value="https://discourse.mcneel.com/c/rhino-inside/Revit/" />
    <Property Id="ARPCONTACT" Value="tech@mcneel.com"/>
    <Property Id="ARPHELPTELEPHONE" Value="+1 (206) 545-7000"/>
    <Property Id='ARPNOMODIFY'>1</Property>

    <Directory Id="TARGETDIR" Name="SourceDir"/>

    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of Rhino.Inside® for Revit is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="Revit.2018.Addin" Title="Revit 2018 Addin" Level="1" >
      <Condition Level="0">REVIT2018_INSTALLLOCATION=""</Condition>
      <ComponentGroupRef Id="Addins.2018.RhinoInsideRevit" />
    </Feature>

    <Feature Id="Revit.2019.Addin" Title="Revit 2019 Addin" Level="1">
      <Condition Level="0">REVIT2019_INSTALLLOCATION=""</Condition>
      <ComponentGroupRef Id="Addins.2019.RhinoInsideRevit" />
    </Feature>

    <Feature Id="Revit.2020.Addin" Title="Revit 2020 Addin" Level="1">
      <Condition Level="0">REVIT2020_INSTALLLOCATION=""</Condition>
      <ComponentGroupRef Id="Addins.2020.RhinoInsideRevit" />
    </Feature>

    <Feature Id="Revit.2021.Addin" Title="Revit 2021 Addin" Level="1">
      <Condition Level="0">REVIT2021_INSTALLLOCATION=""</Condition>
      <ComponentGroupRef Id="Addins.2021.RhinoInsideRevit" />
    </Feature>

    <Feature Id="Revit.2022.Addin" Title="Revit 2022 Addin" Level="1">
      <Condition Level="0">REVIT2022_INSTALLLOCATION=""</Condition>
      <ComponentGroupRef Id="Addins.2022.RhinoInsideRevit" />
    </Feature>

    <UIRef Id="WixUI_Advanced"/>
    <Property Id="ApplicationFolderName" Value="RhinoInside.Revit" />
    <Property Id="WixAppFolder" Value="WixPerMachine" />
    <WixVariable Id="WixUISupportPerUser" Value="0" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="Dialog.png" />
    <WixVariable Id="WixUIBannerBmp" Value="Banner.png" />

    <CustomAction
            Id="OverwriteWixSetDefaultPerMachineFolder"
            Property="WixPerMachineFolder"
            Value="[CommonAppDataFolder]Autodesk\Revit\Addins"
    />
    <CustomAction
            Id="OverwriteWixSetDefaultPerUserFolder"
            Property="WixPerUserFolder"
            Value="[AppDataFolder]Autodesk\Revit\Addins"
    />
    <CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[APPLICATIONFOLDER]"/>

    <CustomAction Id="WIPExpirationDateWarning" Script="vbscript">
      <![CDATA[
      ExpirationDate = DateAdd("d", $(var.BuildVersion) + 90, DateSerial(2000,1,1))
      DaysLeft = Cint(DateDiff("d", Now(), ExpirationDate))      
      Set Record = Session.Installer.CreateRecord(1)
      
      If DaysLeft < 0 Then
        Record.StringData(0) = _
        "This Work-In-Progress installer expired on" & vbCrlf & _
        FormatDateTime(ExpirationDate, 1) & "." & vbCrlf & vbCrlf & _
        "Please check for updates at 'https://www.rhino3d.com/inside/revit/'"
        Session.Message &H01000000, Record
      End If
      
      If DaysLeft = 0 Then
        Record.StringData(0) = _
        "This Work-In-Progress installer expires today." & vbCrlf & vbCrlf & _
        "Please check for updates at 'https://www.rhino3d.com/inside/revit/'"
        Session.Message &H02000000, Record
      End If
      
      If DaysLeft > 0 Then
        Record.StringData(0) = _
        "This installer contains a Work-In-Progress version of $(var.ProductName)." & vbCrlf & vbCrlf & _
        "It will expire on " & FormatDateTime(ExpirationDate, 1) & "," & vbCrlf & _
        DaysLeft & " days from now."
        Session.Message &H03000000, Record
      End If
      
      ]]>
    </CustomAction>

    <InstallUISequence>
      <Custom Action="WIPExpirationDateWarning" After="AppSearch" />
      <Custom Action="OverwriteWixSetDefaultPerUserFolder" After="WixSetDefaultPerUserFolder" />
      <Custom Action="OverwriteWixSetDefaultPerMachineFolder" After="WixSetDefaultPerMachineFolder" />
    </InstallUISequence>

    <InstallExecuteSequence>
      <Custom Action="OverwriteWixSetDefaultPerUserFolder" After="WixSetDefaultPerUserFolder" />
      <Custom Action="OverwriteWixSetDefaultPerMachineFolder" After="WixSetDefaultPerMachineFolder" />
      <Custom Action="SetARPINSTALLLOCATION" After="InstallValidate"/>
    </InstallExecuteSequence>
  </Product>

  <?include Revit.wxi ?>

  <?include Addin.wxi ?>

</Wix>
