<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           UpgradeCode="634a05f2-4511-445a-89c1-7305d83d34c7"
           Manufacturer="Robert McNeel &amp; Associates"
           Name="Rhino.Inside® for Revit"
           Version="$(var.ProductVersion)"
           Language="1033">
    <Package Manufacturer="Robert McNeel &amp; Associates"
             Description="Rhino.Inside® for Revit"
             InstallerVersion="301"
             Platform="$(var.Platform)"
             InstallScope="perMachine"
             InstallPrivileges="elevated"
             Compressed="yes"/>

    <Icon Id="RhinoInside.ico" SourceFile="RhinoInside.ico"/>
    <Property Id="ARPPRODUCTICON" Value="RhinoInside.ico" />
    <Property Id="ARPURLINFOABOUT" Value="https://www.rhino3d.com/inside/revit/"/>
    <Property Id="ARPURLUPDATEINFO" Value="https://github.com/mcneel/rhino.inside-revit.git"/>
    <Property Id="ARPHELPLINK" Value="https://discourse.mcneel.com/c/rhino-inside/Revit/" />
    <Property Id="ARPCONTACT" Value="tech@mcneel.com"/>
    <Property Id="ARPHELPTELEPHONE" Value="+1 (206) 545-7000"/>
    <Property Id='ARPNOMODIFY'>1</Property>

    <Directory Id="TARGETDIR" Name="SourceDir"/>

    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of Rhino.Inside® for Revit is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="Revit.2018.Addin" Title="Revit 2018 Addin" Level="1" >
      <Condition Level="0">REVIT2018_INSTALLLOCATION=""</Condition>
      <ComponentGroupRef Id="Addins.2018.RhinoInsideRevit" />
    </Feature>

    <Feature Id="Revit.2019.Addin" Title="Revit 2019 Addin" Level="1">
      <Condition Level="0">REVIT2019_INSTALLLOCATION=""</Condition>
      <ComponentGroupRef Id="Addins.2019.RhinoInsideRevit" />
    </Feature>

    <Feature Id="Revit.2020.Addin" Title="Revit 2020 Addin" Level="1">
      <Condition Level="0">REVIT2020_INSTALLLOCATION=""</Condition>
      <ComponentGroupRef Id="Addins.2020.RhinoInsideRevit" />
    </Feature>

    <Feature Id="Revit.2021.Addin" Title="Revit 2021 Addin" Level="1">
      <Condition Level="0">REVIT2021_INSTALLLOCATION=""</Condition>
      <ComponentGroupRef Id="Addins.2021.RhinoInsideRevit" />
    </Feature>

    <UIRef Id="WixUI_Advanced"/>
    <Property Id="ApplicationFolderName" Value="RhinoInside.Revit" />
    <Property Id="WixAppFolder" Value="WixPerMachine" />
    <WixVariable Id="WixUISupportPerUser" Value="0" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="Dialog.png" />
    <WixVariable Id="WixUIBannerBmp" Value="Banner.png" />

    <CustomAction
            Id="OverwriteWixSetDefaultPerMachineFolder"
            Property="WixPerMachineFolder"
            Value="[CommonAppDataFolder]Autodesk\Revit\Addins"
    />
    <CustomAction
            Id="OverwriteWixSetDefaultPerUserFolder"
            Property="WixPerUserFolder"
            Value="[AppDataFolder]Autodesk\Revit\Addins"
    />
    <CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[APPLICATIONFOLDER]"/>

    <InstallUISequence>
      <Custom Action="OverwriteWixSetDefaultPerUserFolder" After="WixSetDefaultPerUserFolder" />
      <Custom Action="OverwriteWixSetDefaultPerMachineFolder" After="WixSetDefaultPerMachineFolder" />
    </InstallUISequence>

    <InstallExecuteSequence>
      <Custom Action="OverwriteWixSetDefaultPerUserFolder" After="WixSetDefaultPerUserFolder" />
      <Custom Action="OverwriteWixSetDefaultPerMachineFolder" After="WixSetDefaultPerMachineFolder" />
      <Custom Action="SetARPINSTALLLOCATION" After="InstallValidate"/>
    </InstallExecuteSequence>
  </Product>

  <?include Revit.wxi ?>

  <?include Addin.wxi ?>

</Wix>
